include         /etc/ldap/schema/core.schema
include         /etc/ldap/schema/cosine.schema
include         /etc/ldap/schema/nis.schema
include         /etc/ldap/schema/inetorgperson.schema
{% set custom_schemas = openldap_config_schemas + (openldap_config_samba_schema if openldap_config_samba.enabled | bool else []) %}
{% for schema in custom_schemas %}
include         /etc/ldap/custom-schema/{{ schema.filename }}
{% endfor %}
pidfile         /run/slapd/slapd.pid
argsfile        /run/slapd/slapd.args
modulepath      /usr/lib/ldap
moduleload      back_mdb
{% if openldap_config_gitlab.memberof_enabled | bool %}
moduleload      memberof
{% endif %}
{% if openldap_config_tls_enabled | bool %}
TLSCertificateFile /tls/{{ openldap_service_tls_certificate_name }}-fullchain.crt
TLSCertificateKeyFile /tls/{{ openldap_service_tls_certificate_name }}.key
{% endif %}
database        mdb
maxsize         1073741824
suffix          "{{ openldap_config_base_dn }}"
rootdn          "cn=admin,{{ openldap_config_base_dn }}"
rootpw          {CRYPT}{{ openldap_config_admin_password | password_hash('sha512') }}
directory       /var/lib/ldap
{% if openldap_config_gitlab.memberof_enabled | bool %}
overlay         memberof
memberof-group-oc groupOfNames
memberof-member-ad member
memberof-refint TRUE
{% endif %}
{% for index in openldap_config_indexes %}
index           {{ index }}
{% endfor %}
{% if openldap_config_samba.enabled | bool %}
{% for index in openldap_config_samba_indexes %}
index           {{ index }}
{% endfor %}
{% endif %}
access to attrs=userPassword
	by self write
	by anonymous auth
	by dn.exact="cn=admin,{{ openldap_config_base_dn }}" write
	by * none
access to attrs=shadowLastChange
	by self write
	by dn.exact="cn=admin,{{ openldap_config_base_dn }}" write
	by * read
access to *
	by dn.exact="cn=admin,{{ openldap_config_base_dn }}" write
	by users read
	by * none
