[Container]
Image={{ openldap_service_image }}
Pull={{ 'never' if openldap_service_container_method == 'direct-build' else 'always' }}
ContainerName={{ openldap_service_name }}
Volume={{ openldap_service_data_dir }}:/var/lib/ldap:Z
Volume={{ openldap_config_dir }}:/etc/ldap/slapd.d:ro,Z
Volume={{ openldap_schema_dir }}:/etc/ldap/custom-schema:ro,Z
{% if openldap_service_tls_enabled | bool %}
Volume={{ openldap_service_tls_cert_file | dirname }}:/tls:ro,Z
{% endif %}
PublishPort={{ openldap_service_ldap_port }}:389
{% if openldap_service_tls_enabled | bool %}
PublishPort={{ openldap_service_ldaps_port }}:636
{% endif %}

[Service]
Restart=always

[Install]
WantedBy=default.target
